@import "blocks/mixins";
@import "blocks/header";
@import "blocks/center";
@import "blocks/button";
@import "vendor/slick.scss";
@import "vendor/slick-theme.scss";

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/buttons";

/* Default styles */
body {
    margin: 0px;
    color: rgb(78, 78, 78);

    @media (min-width: 1000px) {
        color: rgb(77, 25, 25);
    }

    div {
        color: #333;
    }
}

.block {
    &__element {
        &--mod {
            color: rgb(35, 92, 73);
        }
    }

    &__info {
        font-size: 1.2em;
    }

    &__tel {
        font-size: 0.7em;
    }
}

.header {
    &__item {
        padding: 1em;
    }
}

.nav {
    background-color: rgb(226, 243, 211);

    &__link {
        color: rgb(35, 92, 73);

        &--active {
            font-weight: bold;
        }

        &:visited {
            color: rgb(35, 39, 92);
        }
    }


}

.btn {
    &--danger {
        background-color: rgb(148, 46, 46);
    }
}

.side-panel {
    background-color: rgb(231, 231, 231);

    &__menu {
        padding: 1rem;
    }

    &__menu-link {
        color: rgb(35, 92, 73);

    }

    &__menu-link:visited {
        color: rgb(35, 39, 92);
    }

    &__menu-link:hover {
        color: rgb(139, 63, 129);
    }
}

.container {
    display: flex;
    outline: 2px solid #333;
}

.side {
    background-color: rgb(197, 197, 197);
}

.center {
    background-color: rgb(183, 206, 228);
    outline: 2px solid #a3b9c4;
    min-width: 20%;
    max-width: 30em;
}

.col {
    outline: 2px solid #a3b9c4;
    background-color: rgb(183, 206, 228);
}

@media (max-width: 900px) {
    body {
        background-color: rgb(41, 61, 80);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}

.anim-circle {
    width: 4em;
    height: 4em;
    background-color: rgb(59, 29, 87);
    border: 3px solid rgb(119, 38, 95);
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(138, 42, 55);

    &--h:hover {
        transform: translateX(100px);
        transition: transform 200ms;
    }

    &--k:hover {
        animation: move 1s linear alternate infinite;
    }
}