@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  color: #566b78;
}

main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  margin: 1em 0;
}

.numpad {
  border-radius: 5px;
  border: 1px solid #555;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  height: 12em;
  width: 12em;
  padding: .5em;
  margin: .5em;
}

.numpad-button {
  width: 95%;
  height: 95%;
}
