@import "scss-test-style.css";

:root {
  --w-color: #e8e8e8;
  --ww-color: #f8f8f8;
  --b-color: #333;
  --g-color: #888;
  --dg-color:#555;
  --rb-color:#dcc;
  --w-main: 80%;
  --w-side: 20%;
  --anthracite: #383e42;
}

body {
  font-size: 18px;
  font-family: Sans-serif;
  background-color: var(--ww-color);
  padding: 0em;
  margin: 0em;
  color: var(--b-color);
  line-height: 1.1;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

footer a {
  color: var(--w-color);
  color: #bbb;
  text-decoration: none;
}

p {
  font-family: "Segoe UI", "Liberation Sans", sans-serif;
}

main {
  width: var(--w-main);
  margin: 0 auto;
}

main {
  width: var(--w-main);
  margin: 0 auto;
  background-color: var(--ww-color);
  color: var(--b-color);
  font: bold 2rem/2rem bold sans-serif;
  padding: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #eee;
  font: bold 2rem/2rem bold sans-serif;
  padding: 0em;
  height: 100%;
  box-sizing: border-box;
}

footer {
  min-height: 3em;
  width: var(--w-main);
  width: 100%;
  margin: 0 auto;
  background-color: var(--g-color);
  margin-top: 1em;
  margin-bottom: 0;
  color: var(--w-color);
  font: bold 2rem/2rem bold sans-serif;
  text-align: center;
  padding-top: 1em;
  color: rgb(131, 140, 149);
  background-color:#292623;
  font-size: 0.8rem;
}

footer p {
  font-size: 0.8rem;
  padding: .1rem;
}

footer a:hover {
  color: var(--ww-color);
}

aside {
  width: var(--w-side);
  background-color: var(--rb-color);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 9%;
}

section {
  /* width: var(--w-main); */
  margin: 1em auto;
  /* background-color: var(--w-color); */
}

p {
  font-size: 1.2rem;
}

h1 {
  font-family: Sans-serif;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  line-height: 1.1;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


span.fio {
  color: #337;
}

.fio:hover {
  color: #55f;
}

a.gradient {
    background-image: linear-gradient(138deg,#4568dc,#b06ab3);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.4rem;
    color: #fff;
    display: block;
    opacity: .95;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.5rem;
}

q {
  background-color: var(--anthracite);
  padding: 2em;
  color: #eee;
  display: inline-block;
  width: 80%;
  margin: 1em auto;
}
blockquote {
  padding-left: 1em;
  border-left: 2px solid #6a2cce;
  color: #6a2cce;
}

button {
  border-color: #207090;
  border-width: .3rem;
  border-radius: .3rem;
  padding: 0.5em;
  margin: 0.2rem;
}
.links {
  margin: auto;
  width: 85%;
  /* background-color: #dfdfdf; */
  border: .2rem solid #f8f8f8;
  border-radius: 5px;
  padding: .5rem;

}
