<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{> menu}}
      
    {{{body}}}
      
    {{> footer}}
</body>
<html>
