body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  width: 50rem;
  margin: 1rem auto;
  background-color: #f5f7f2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  margin: 10em auto;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 2px;
  text-align: center;
  height: 4rem;
  width: 4rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2rem;
  border-left: 2px solid #333;
}

.game-info {
  margin-left: 20px;
}

li button {
  padding: .3rem;
  font-family: monospace;
  font-variant: petite-caps;
  font-size: 1.2em;
  margin-bottom: .5rem;
  border-radius: 4px;
  background-color:#eafff5;
  border-bottom-color: #85c2c2;
  border-right-color: #85c2c2;
  border-top-color: #c5fdfd;
  border-left-color: #c5fdfd;
}

button.selected {
  background-color:#b3f7d7;
  font-weight: bold;
  border-bottom-color: aqua;
  border-right-color: aqua;
}

h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
