<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<main class="main">

  <nav>
    <a class="button" routerLink="/binding" routerLinkActive="activebutton">Binding</a> |
    <a class="button" routerLink="/forms" routerLinkActive="activebutton">Forms</a>
    <a class="button" routerLink="/directives" routerLinkActive="activebutton">Directives</a>
    <a class="button" routerLink="/about" routerLinkActive="activebutton">About</a>
    <a class="button" routerLink="/storeview" routerLinkActive="activebutton">StoreView</a>
    <a class="button" routerLink="/reactiveform" routerLinkActive="activebutton">Reactive Form</a>
    <a class="button" routerLink="/grid" routerLinkActive="activebutton">Grid CRUD</a>
    <a class="button" routerLink="/crud" routerLinkActive="activebutton">user CRUD</a>
  </nav>

  <router-outlet></router-outlet>
</main>