<div class="wrapper main">
  <test #test (onChanged)="onChange($event)" [(inputText)]="inputValue"></test>
  binded in main component: {{inputValue}}
  <h4 #counterHeader>counter: {{counter}}</h4>
  <p>header4: [{{counterHeader.textContent}}]</p>
  <button (click)="test.change(111)">test change by 111</button>
  <cart-list [inInfo]="bindValue">
    <h3 bottom>
      end of cart table inserted in child with ng-content
    </h3>
  </cart-list>
  <p>view child by #ref</p>
  <p #parRef>None</p>
  <button (click)="changeByRef()">change by elem ref ^ parRef</button>
  <hr>
  binding:
  <div class="binding">1. one way out value</div>
  <p class="bind__one">{{ bindValue }}</p>
  <div class="binding">2. one way out to attribute</div>
  <p class="bind__two">
    <input type="text" name="some" [value]="bindValue" id="" />
  </p>
  <div class="binding">3. one way event bind:</div>
  <button (click)="showValue()">show 2nd value</button>
  <button (click)="changeValue()">change value</button>
  <div class="binding">4. two way bind:</div>
  <input [(ngModel)]="bindTwoWay" placeholder="name" />
  <p class="bind__one">{{ bindTwoWay }}</p>

  <p class="bind__one">{{ complex.name }} : {{ complex.size }}</p>
  <input type="text" name="" id="" value="{{ complex.size }}" [value]="complex.size" />
  <p>bind to textContent (js prop)</p>
  <p [textContent]="complex.size"></p>
  <button (click)="increment($event)" [textContent]="incrementText"></button>
  <br />
  <input type="checkbox" name="isOn" [(ngModel)]="isOn" id="" />
  <div class="colorOn" [class.isOn]="isOn"></div>
</div>
<hr>
<button class="shopToggle" (click)="toggleShopBlock()">Shop open</button>
<div class="shopblock" *ngIf="this.showShopBlock">
  <ul>
    <li class="product-item" *ngFor="let item of products">{{ item.name }}</li>
  </ul>
</div>
<hr>
<div class="page-header">
  <h1>Список покупок on ssd</h1>
</div>
<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="text" placeholder="Название" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-default" (click)="addItem(text, price)">
          Добавить
        </button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Предмет</th>
          <th>Цена</th>
          <th>Куплено</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.purchase }}</td>
          <td>{{ item.price }}</td>
          <td><input type="checkbox" [(ngModel)]="item.done" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>