table {
  outline: 2px solid #777;
  background-color: #dfc9ec;
}

.wrapper {
  padding: 1rem;
}

:host {
  background-color: #aec2c5;
}

.bind__one {
  padding: .5rem;
  background-color: rgb(151, 184, 136);
}

.isOn {
  background-color: aqua;
}
.colorOn {
  width: 1rem;
  height: 1rem;
  outline: 2px solid forestgreen;
}