<main>

  <nav>
    <a class="button" routerLink="/binding" routerLinkActive="activebutton">Binding</a> |
    <a class="button" routerLink="/forms" routerLinkActive="activebutton">Forms</a>
    <a class="button" routerLink="/directives" routerLinkActive="activebutton">Directives</a>
    <a class="button" routerLink="/about" routerLinkActive="activebutton">About</a>
    <a class="button" routerLink="/storeview" routerLinkActive="activebutton">StoreView</a>
  </nav>

  <router-outlet></router-outlet>
</main>