@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  color: #566b78;
}

main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  margin: 1em 0;
}

.anon {
  color: #5a5;
}

button {
  padding: 1rem;
  margin: .3rem;
}

button.cu {
  color: #484;
}
button.hu {
  color: #884;
}

label {
  margin: 1rem;
}

input[type=checkbox]{
  transform: scale(1.5);
}

p.spoiler {
  background: #dddff0;
  padding: 1em;
  border-left: 4px solid #bcccdf;
}

li {
  cursor: pointer;
}
li:focus {
  outline: 1px dashed #ccc;
}

.cart {
  background-color: #ced;
  padding: 2rem;
}

.border-d {
  outline: 2px solid #888;
  border-right: 4px solid #888;
}
.border-d-a {
  border-right: 4px solid #aaa;
}

main:hover button {
  background-color: #eee;
  border-radius: 5px;
  transition: all 200ms;
}

main:has(>div:hover)  {
  background-color: #efe;
}
