nav
    a(href="/") Главная
    a(href="/con") Контакты

    a(href="/about") about
    a(href="/cash?amount=123&id=8da80") cash params
    a(href="/cash?amount=320&id=CCA80") cash params id
    a(href="/cash?id=1&id=2&id=3") params array
    a(href="/cash?id[a]=1&id[b]=2&id[c]=3") params obj
    a(href="/product2/id12312309") product id12312309
    a(href="/product/id12312309/tag/smooth") product and tag 
    a(href="/cat/color") cat color
    a(href="/cat/name") cat name
    a(href="/cat/type") cat type
    a(href="/con") contact template 
|
|

