extends layout.pug

block title 
    title #{title}

block content

    h1 #{title} в Pug
     
    table
       tr
           th Type
           th Name

       each tool in tools
           tr
              td #{tool.type}
               td #{tool.name}

