doctype html
html
  head
    <title>#{title}</title>
    <meta charset="utf-8" />
    style
      include ../static/styles.css

body
   h1 #{title} в Pug
     
   <table>
       <tr>
           <th>Type</th>
           <th>Name</th>
       </tr>
       each tool in tools
           <tr>
              <td> #{tool.type}  </td> 
               <td> #{tool.name}  </td> 
           </tr>
   </table>
