@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  color: #566b78;
}

main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  margin: 1em 0;
}

.todo-input-area {
  margin: .5rem;
  display: flex;
}
.todo-input {
  margin: .5rem;
}

.alert {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.todo-text {
  cursor: pointer;
  border-radius: 5px;
  user-select: none; 
}

.todo-text:hover {
    background-color: #eee;
    color: #484;
    transition: all 300ms;
}

.type-cell {
  color: #773 !important;
  user-select: none; 
  cursor: pointer;
  font-weight: bold;
}
.type-cell-done {
  color: #373 !important;
}
.type-cell-undone {
  color: #733 !important;
}
