:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(50, 61, 50);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
}

.footer {
  padding: 1em;

  background-color: rgb(197, 211, 197);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0;

  font-size: 1.5em;
  font-weight: bold;

  background-color: rgb(197, 211, 197);
}

.header *:hover {
  color: rgb(95, 114, 87);
  cursor: pointer;
  text-decoration: underline;
}

.header__item {}

.main {
  flex-basis: 70%;
  padding: 1em;

  color: rgb(233, 248, 231);
  background-color: rgb(49, 63, 49);
}

.page {
  width: 80%;
  margin: 2em auto;

  color: rgb(50, 61, 50);
}

.sidebar {
  flex-basis: 15%;
  padding: 1em;

  background-color: rgb(20, 41, 31);
  color: rgb(233, 248, 231);
}

.flex {
  display: flex;
}

.flex-item {
  height: 3em;
  flex-grow: 1;
  flex-basis: 0;
}

.one {
  background-color: #dfc;
}

.two {
  background-color: #8e8;
}

.san {
  background-color: #cf3;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 1em;
  margin: 1em auto;

  background-color: #efe;
}

/* Media */

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
    min-height: 10em;
  }

  .flex-item {
    flex-basis: 100%;
  }
}
