<div class="page">
  <header class="header">
    <div class="header__item">Web-site </div>
    <div class="header__item">
      <div>+78002001029</div>
      <div>website@mail.com</div>
    </div>
    <div class="header__item">Ru/En</div>
  </header>

  <div class="content">
    <aside class="sidebar">
      sidebar
    </aside>

    <main class="main">
      content
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium repellendus dolorum error voluptates
      perspiciatis quae ullam hic? Suscipit ut nobis doloribus aperiam! Quos, sunt! Voluptatum impedit saepe illo
      recusandae.
    </main>

    <aside class="sidebar">
      R
    </aside>
  </div>

  <div class="container">
    <h1 class="title">media</h1>
    <div class="flex">
      <div class="flex-item one"></div>
      <div class="flex-item two"></div>
      <div class="flex-item san"></div>
    </div>
  </div>

  <footer class="footer">
    footer
  </footer>
</div>
