<div class="page">
  <header class="header">
    Header
  </header>

  <div class="content">
    <aside class="sidebar">
      sidebar
    </aside>

    <main class="main">
      content
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium repellendus dolorum error voluptates perspiciatis quae ullam hic? Suscipit ut nobis doloribus aperiam! Quos, sunt! Voluptatum impedit saepe illo recusandae.
    </main>

        <aside class="sidebar">
          R
        </aside>
  </div>

  <footer class="footer">
    footer
  </footer>
</div>
