 <div class="container">
   <div class="row">
     <div class="col-sm">
       <app-passenger-form [(distance)]="distance" (distanceChange)="handleChange($event)" [(age)]="age"
         [(luggageWeight)]="luggageWeight">
       </app-passenger-form>
     </div>
   </div>
   <div class="row">
     <div class="col-sm">
       <button class="btn btn-primary" (click)="calc()">Рассчитать</button>
     </div>
   </div>
   <div class="row">
     <div class="col-sm">
       <app-proposals [distance]="distance" [age]="age" [luggageWeight]="luggageWeight"></app-proposals>
     </div>
   </div>
 </div>
