$primary: #729bd0;
$primary-text: #a1f0cb;
$hover-text: #76aeb8;
$black: #334a47;
$gray: #16331c;
$indent: 1em;
$font: 16px "Fira Sans",
sans-serif;

.center-header {
  position: relative;
  padding: .5rem;

  color: $primary-text;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;

  background-color: $primary;
  border-bottom: 3px solid #5487b3;

  &--fixed {
    background-color: $black;

    & .btn__link {
      padding: 0;
      content: "con";
    }
  }

  &:hover {
    color: $hover-text;
  }

  &::before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #4f55aa4f;
  }


}

.center__text {
  font: $font;
  text-indent: $indent;
  text-shadow: 0px 1px 1px $gray;
}

.btn {
  padding: 1rem;
}

.btn__link {
  padding: 1rem;

  background-color: $black;

  text-decoration: none;
  color: $primary-text;

  &:hover {
    background-color: $gray;

  }

  &--mixed {
    @include btn(rgb(145, 43, 43));
  }
}