<nav>
    <a href="/">Главная</a> | 
    <a href="/con">Контакты</a>

    <a href="about">about</a>
    <a href="cash?amount=123&id=8da80">cash params</a>
    <a href="cash?amount=320&id=CCA80">cash params id</a>
    <a href="cash?id=1&id=2&id=3">params array</a>
    <a href="cash?id[a]=1&id[b]=2&id[c]=3">params obj</a>
    <a href="product/id12312309">product id12312309</a>
    <a href="product/id12312309/tag/smooth">product and tag </a>
    <a href="/cat/color">cat color</a>
    <a href="/cat/name">cat name</a>
    <a href="/cat/type">cat type</a>
    <a href="/con">contact template (hbs)</a>
</nav>
