@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  color: #566b78;
}

main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  margin: 1em 0;
}

.click-field {
  background-color: #cdc;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.click-field:hover {
  background-color: #bcb;
  outline: 1px solid #cdc;
  transition: all 200ms;
}

.click-field:active {
  background-color: #bdb;
  outline: 1px solid #cec;
  transition: all 200ms;
}

.field-left {
  display: inline-block;
  width: 10rem;
}

button {
  padding: 0.3rem;
  display: inline-block;
}

.small-text {
  font-size: 10px;
}
