<div class="container" *ngIf="cartProducts.length > 0;  else empty">

  <h2 class="text-center">Your order: </h2>
  <table>
    <tbody>
      <tr *ngFor="let product of cartProducts; let i = index">
        <td>{{product.type}}</td>
        <td>{{product.title}}</td>
        <td><button class="btn btn-danger" (click)="delete(product)">Delete</button></td>
        <td>{{product.price}} $</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Total: {{totalPrice}} $</b>

  <h2 class="text-center">Delivery</h2>


  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="name">Name</label>
      <input type="text" formControlName="name">
      <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="validation">
        <small *ngIf="form.get('name')?.errors?.required">Enter your name</small>
      </div>
    </div>
    <div class="form-control">
      <label for="phone">Phone Number</label>
      <input type="text" formControlName="phone">
      <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" class="validation">
        <small *ngIf="form.get('phone')?.errors?.required">Enter your phone number</small>
      </div>
    </div>
    <div class="form-control">
      <label for="address">Address</label>
      <input type="text" formControlName="address">
      <div *ngIf="form.get('address')?.touched && form.get('address')?.invalid" class="validation">
        <small *ngIf="form.get('address')?.errors?.required">Enter your address</small>
      </div>
    </div>
    <div class="form-control">
      <label for="payment">Payment method</label>
      <select formControlName="payment">
        <option value="Card">Card</option>
        <option value="Cash">Cash</option>
      </select>
    </div>

    <button info="submit" class="btn btn-primary btn-block" [disabled]="form?.invalid || submitted">Make order</button>
  </form>


</div>
<ng-template #empty>
  <h2 class="text-center">cart is empty, select product</h2>
</ng-template>
